:host {
  display: contents;
}

.theme-selector {
  background-color: var(--theme-selector-bg);
  border: 1px solid var(--theme-selector-border);
}

.theme-selector-option {
  background-color: var(--theme-selector-bg);
}

.theme-selector-option:hover:not(.theme-selector-option-active) {
  background-color: var(--theme-selector-hover-bg);
}

.theme-selector-option-active {
  background-color: var(--theme-selector-active-bg);
}
